.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 690px;
  min-height: 429px;
  padding: 0;
  margin: 114px 442px 92px 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin: 114px 286px 92px 48px;
  }
}
